/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #121212;
    color: #ffffff;
    line-height: 1.6;
}

/* Navigation Bar */
nav {
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    /*background-color: #333;*/
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-brand {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Navigation Link Hover Effect */
.nav-links a {
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.nav-links a:hover, .nav-links a:active {
    color: #007bff; /* Highlight color */
    transform: translateY(-5px); /* Rise effect on hover */
}

/* Click Animation */
.nav-links a:active {
    transform: translateY(0); /* Fall back to place on click */
}

/* Styling for 'Shubham Bhalala' link */
.nav-brand a {
    color: #fff; /* Set the color to white, or any color you prefer */
    text-decoration: none; /* Removes the underline */
    transition: text-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.nav-brand a:hover {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.6); /* Glowing effect */
    transform: scale(1.1); /* Slightly enlarges the text */
}

.nav-brand a:hover, .nav-brand a:active {
    transform: translateY(-5px); /* Rise effect on hover */
}

/* Main Content */
#main {
    background-color: transparent; /* very transparent white */
    padding: 20px;
    pointer-events: none;
}

.content-container {
    pointer-events: auto; /* Re-enable pointer events for the content and image */
}

/* Footer */
/* Footer */
footer {
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    /*background-color: #333;*/
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 0.8em;
}

footer span {
    color: red; /* Gives the heart emoji a red color */
}


/* Utility Classes */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.card {
    background-color: rgba(255, 255, 255, 0.1); /* very transparent white */
    /*background-color: #222;*/
    padding: 20px;
    margin-bottom: 20px;
}

.card a {
    display: inline-block;
    text-decoration: none;
    color: #007bff;
}

.card a:hover {
    color: #0056b3;
}

.card h3 {
    margin-bottom: 10px;
}

/* Responsive */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    .container {
        width: 90%;
    }
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000; /* Or any background color you want */
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: -1; /* Ensure it stays behind other content */
}

#welcome {
    font-size: 36px;
    position: absolute;
    left: 50px;
}

#dynamic-text {
    font-size: 25px;
}

.highlight {
    cursor: pointer; /* Change cursor on hover to indicate interactivity */
    border-bottom: 2px solid transparent; /* Prepare for the underline effect */
    transition: border-color 0.3s ease; /* Smooth transition for applying the underline */
}

.highlighted {
    border-bottom: 2px solid red; /* Highlight with a red underline */
}

#bitmoji-container {
    text-align: center; /* Center the Bitmoji in the container */
    padding: 20px;
    position: absolute;
    right: 50px;
}

#bitmoji-container img {
    width: 250px; /* Increase the width */
    height: 250px; /* Increase the height to match the width */
    border-radius: 50%; /* Keeps the image circular */
    border: 4px solid #ffffff; /* Optionally adjusted the border thickness */
    object-fit: cover; /* Ensures the image covers the frame */
    display: block;
    margin: auto; /* Center the image horizontally */
}

.news-ticker {
    white-space: nowrap;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */ /* Or any color that fits your design */
    color: #fff;
    display: flex;
    align-items: center;
    position: relative; /* Add position relative */
    z-index: 2; /* Ensure the ticker is above other content */
    margin-bottom: 20px; /* Add space after the ticker */
}

.ticker-title {
    padding: 10px;
    background-color: #222; /* Darker background for the title */
    font-weight: bold;
    position: relative; /* Add position relative */
    z-index: 1; /* Higher z-index so it's above the moving content */
}

.ticker-content {
    display: inline-block;
    padding-left: 100%;
    animation: ticker 20s linear infinite;
    position: relative; /* Ensure positioning context */
}

.ticker-content a {
    text-decoration: none;
    color: #fff; /* Text color for links */
    padding: 0 2em; /* Spacing between links */
}

/* Keyframes for ticker animation */
@keyframes ticker {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-100%, 0, 0); }
}

#social-media-icons {
    display: flex;
    position: absolute;
    gap: 50px;
    padding: 20px;
    right: 85px;
    margin-top: 275px;
}

.social-icon {
    font-size: 24px; /* Adjust based on your preference */
    opacity: 0; /* Start invisible */
    animation: washAshore 3s ease forwards; /* Apply the animation */
    color: white;
}

/* Define the keyframes for the animation */
@keyframes washAshore {
    0% {
        transform: translateX(-100px) translateY(20px);
        opacity: 0;
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}

/* Delay the animation for each icon */
.social-icon:nth-child(1) { animation-delay: 0.5s; }
.social-icon:nth-child(2) { animation-delay: 1s; }
.social-icon:nth-child(3) { animation-delay: 1.5s; }

.horizontal-scroll-container {
    display: flex;
    overflow-x: auto;
    gap: 50px;
    padding: 10px;
    position: absolute;
    top: 500px;
    left: 50px;
}

.image-container {
    position: relative; /* Needed for absolute positioning of overlay text */
    flex: 0 0 auto;
    text-decoration: none;
    border: 3px solid white; /* White border around images */
    display: inline-block; /* Align items */
}

.image-container img {
    display: block; /* Remove bottom margin/spacing */
    width: 200px; /* Adjust based on your needs */
    height: 200px;
}

.overlay-text {
    position: absolute;
    bottom: 0; /* Start at the bottom of the parent */
    left: 0;
    width: 100%; /* Cover the width of the image */
    background-color: rgba(0, 0, 0, 0.5); /* Slightly gray background */
    color: white; /* Text color */
    text-align: center;
    padding: 10px 0; /* Padding for the text */
    transition: transform 0.5s ease; /* Smooth transition for moving down */
    transform: translateY(-100%); /* Hide initially by moving up */
}

.image-container:hover .overlay-text {
    transform: translateY(0); /* Move down on hover */
}